.h1 {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 121%;
  letter-spacing: -0.3px;
}

.h2 {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 161%;
  letter-spacing: -0.225px;
}
